<header>
    <nav class="top-nav">
        <div class="nav-wrapper"><a href="#" data-activates="nav-mobile"
                                    class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            <a class="page-title">Find your travel budget</a></div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed no-shadow">
        <li class="logo center-align">
            <a id="logo-container" href="/" class="brand-logo center-align">
                <img src="assets/images/logo.png"/>
                <span class="border-line"></span>
            </a>

        </li>
        <li>
            <div class="center-align userSection">
                <img class="userPhoto" src="/assets/images/photo-user.png"/>
                <span>Jonathan</span>
                <p> $1,240 earned</p>
            </div>

        </li>

        <li class="active"><a href="#" class="waves-effect waves-teal"><img src="assets/images/search-icon.png"
                                                                            alt="Build a Budget"/> Build a Budget</a>
        </li>
        <li><a href="#" class="waves-effect waves-teal"><img src="assets/images/received-icon.png"
                                                             alt="Receipt History"/> Receipt History</a></li>
        <li><a href="#" class="waves-effect waves-teal"><img src="assets/images/award-icon.png" alt="Rewards"/>
            Rewards</a></li>
        <li><a href="#" class="waves-effect waves-teal"><img src="assets/images/setting-icon.png" alt="Account"/>
            Account</a></li>
        <li><a href="#" class="waves-effect waves-teal"><img src="assets/images/comment-icon.png" alt="Support"/>
            Support</a></li>
        <li><a href="#" class="waves-effect waves-teal"><img src="assets/images/logout-icon.png" alt="Log out"/> Log
            out</a></li>
        <li class="unitlogo center-align">
            <a href="#" class="brand-logo center-align">
                <img src="assets/images/unity-logo.png"/>
            </a>

        </li>
    </ul>
</header>
<main ng-controller="dashboard">
    <div class="section" id="step1">
        <ul class="triplist">
            <li></li>
            <li></li>
        </ul>
        <div class="row">
            <div class="searchMainBox">
                <form name="myForm">
                    <div class="col s6 m6">
                        <div class="input-field largeInput col s12">
                            <input id="tripKiks" name="tripKiks" ng-model="dashboard.tripName" type="text"
                                   class="validate inputFieldlarge">
                            <label for="tripKiks">Name your trip</label>

                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class=" largeInput col s12" ng-show="dashboard.tripName">
                            <a class="waves-effect waves-light btn right">Done</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section" id="step2">
        <ul class="triplist">
            <li></li>
            <li></li>
        </ul>
        <div class="row">

            <div class="searchMainBox">
                <form name="myForm">
                    <div class="col s8 m8">

                        <div class="input-field largeInput col s12">
                            <form ng-app="" name="myForm">
                                <input id="step2tripKiks" value="Business trip to New Yo"
                                       ng-init="Business trip to New Yo" name="step2tripKiks"
                                       ng-model="dashboard.step2tripKiks" type="text"
                                       class="validate inputFieldlarge">
                                <label for="step2tripKiks" class="active">Name your trip</label>

                        </div>
                    </div>
                    <div class="col s6 m4">
                        <div class=" largeInput col s12" ng-show="dashboard.step2tripKiks">
                            <a class="waves-effect waves-light btn right">Done</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section" id="step3">
        <form name="myForm">
            <ul class="triplist">
                <li>Business trip to New York</li>
                <li></li>
            </ul>
            <div class="row">

                <div class="searchMainBox">
                    <div class="col s6 m6">

                        <div class="input-field largeInput col s12">
                            <input id="step3tripKiks" style="border:none" value="Select booking option"
                                   name="step3tripKiks" ng-model="dashboard.step3tripKiks" type="text"
                                   class="validate inputFieldlarge">

                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class=" largeInput col s12" ng-show="dashboard.step3tripKiks">
                            <a class="waves-effect waves-light btn right">Done</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="listofbooking">


                    <p>
                        <input class="with-gap" name="group1" type="radio" id="flight"/>
                        <label for="flight">Flight</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="hotel"/>
                        <label for="hotel">Hotel</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" checked id="flight_Hotel"/>
                        <label for="flight_Hotel">Flight & Hotel</label>
                    </p>

                </div>
            </div>
        </form>

    </div>
    <div class="section" id="step4">
        <ul class="triplist">
            <li>Business trip to New York</li>
            <li> Flight & Hotel</li>
        </ul>
        <div class="row">

            <div class="searchMainBox">
                <form name="myForm" ng-submit="tripAdd()">
                    <div class="col s6 m6">

                        <div class="input-field largeInput col s12">
                            <form ng-app="" name="myForm">
                                <input id="step4tripKiks" value="Flight & Hotel details" name="step4tripKiks"
                                       ng-model="dashboard.step4tripKiks"
                                       type="text"
                                       class="validate inputFieldlarge">
                                <label class="active" for="step4tripKiks">Name your trip</label>

                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class=" largeInput col s12" ng-show="dashboard.step4tripKiks">
                            <a class="waves-effect waves-light btn right">Search</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m6">
                <div class="card card-shadow-no">
                    <div class="card-content">
                        <div class="row">
                            <form id="userForm" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate=""
                                  class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                                <div id="signUp" class="col s12 " style="display: block;">
                                    <div class="input-field">
                                        <input id="locName" type="text"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.fname" required="" style="">
                                        <label for="locName" class="">SFO San Francisco, CA – San Francisco
                                            International </label>

                                    </div>
                                    <div class="input-field">
                                        <input id="cityOrAirport" type="email"
                                               class="validate ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.email" required="" style="">
                                        <label for="cityOrAirport">To: City or Airport</label>

                                    </div>
                                    <div class="input-field suffix col s12 m6">
                                        <i class="material-icons dp48 right">perm_contact_calendar</i>
                                        <input id="departure" type="password"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.password" required="" style="">
                                        <label for="departure">Departure</label>
                                    </div>
                                    <div class="input-field suffix col s12 m6">
                                        <i class="material-icons dp48 right">perm_contact_calendar</i>
                                        <input id="return" type="password"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.cpassword" required="">
                                        <label for="return">Return</label>
                                    </div>


                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col s6 m6">
                <div class="card card-shadow-no">
                    <div class="card-content">
                        <div class="row">
                            <form id="userForm" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate=""
                                  class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                                <div id="signUp" class="col s12 " style="display: block;">
                                    <div class="input-field">
                                        <input id="locCity" type="text"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.fname" required="" style="">
                                        <label for="locCity" class="">City or Address</label>

                                    </div>
                                    <div class="input-field suffix col s12 m6">
                                        <i class="material-icons dp48 right">perm_contact_calendar</i>
                                        <input id="checkIn" type="password"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.password" required="" style="">
                                        <label for="checkIn">Check in</label>
                                    </div>
                                    <div class="input-field suffix col s12 m6">
                                        <i class="material-icons dp48 right">perm_contact_calendar</i>
                                        <input id="checkOut" type="password"
                                               class="validate ng-pristine ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.cpassword" required="">
                                        <label for="return">Check out</label>
                                    </div>


                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</main>




