<!--<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>
<div class="row" style="padding-top:10%"><div class="col s12 m4 offset-m4">
        <div class="card card-shadow-no">
            <div class="card-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <ul tabs ng-if="main.showTabs">
                                    <li class="tab col s3"><a href="#signUp">Sign Up</a></li>
                                    <li class="tab col s3"><a class="active" href="#signIn">Sign In</a></li>
                                </ul>
                            </div>
                            <div id="signUp" class="col s12">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Company email</label>

                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Password</label>
                                </div>
                                <div class="input-field">
                                    <p class="center-align"><a href="#">Forgot your password</a></p>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Sign
                                        In</a>

                                </div>
                            </div>
                            <div id="signIn" class="col s12">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Full name</label>

                                </div>
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Company email</label>

                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Password</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Verify Password</label>
                                </div>
                                <div class="input-field">
                                    <br/>
                                    <br/>
                                </div>
                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Sign
                                        Up</a>

                                </div>
                            </div>

                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div></div>
<div class="row" style="padding-top:10%">
    <div class="col s12 m4 offset-m4">
        <div class="card card-shadow-no">
            <div class="card-content">
                <div class="card-title center-align activator grey-text text-darken-4">Company Infornamtion</div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Job Title</label>

                                </div>
                                <div class="input-field">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Department</label>
                                </div>
                                <div class="input-field">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Expense approver's name</label>
                                </div>
                                <div class="input-field">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Expense approver's email</label>
                                </div>

                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Save</a>

                                </div>
                            </div>

                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row" style="padding-top:10%">
    <div class="col s12 m4 offset-m4">
        <div class="card card-shadow-no">
            <div class="card-content">
                <div class="card-title center-align activator grey-text text-darken-4">Receiving Gift Cards</div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Shipping address</label>

                                </div>
                                <div class="input-field">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Unit/Apt number(Optional)</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s7">
                                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                        <label for="first_name" class="active">City</label>
                                    </div>


                                    <div class="input-field col s5">
                                        <select>
                                            <option value="" disabled selected>State</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label>State</label>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Zip code</label>
                                </div>


                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Go to Account</a>

                                </div>
                            </div>

                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>-->

<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper"><a class="page-title">Showcase</a></div>
        </div>
    </nav>
    <div class="container"><a href="#" data-activates="nav-mobile"
                              class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <li class="logo center-align">
            <br/>
            <a id="logo-container" href="/" class="brand-logo center-align">
                <img src="assets/images/logo.png"/>
            </a></li>
        <li class="search">
            <div class="row">
                <div class="col s12 m12 center-on-small-only">
                    <div class="center-align">
                        <i class="material-icons large">account_circle</i>

                        <h5>Jonathan</h5>
                        <p>$1,240 earned</p>
                    </div>
                </div>
            </div>

        </li>
        <li class="search">
            <div class="search-wrapper card">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Build a Budget</label>
                </div>
            </div>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="color.html">Color</a></li>
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="helpers.html">Helpers</a></li>
                            <li><a href="media-css.html">Media</a></li>
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="shadow.html">Shadow</a></li>
                            <li><a href="table.html">Table</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Components</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="badges.html">Badges</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="chips.html">Chips</a></li>
                            <li><a href="collections.html">Collections</a></li>
                            <li><a href="footer.html">Footer</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="navbar.html">Navbar</a></li>
                            <li><a href="pagination.html">Pagination</a></li>
                            <li><a href="preloader.html">Preloader</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">JavaScript</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="carousel.html">Carousel</a></li>
                            <li><a href="collapsible.html">Collapsible</a></li>
                            <li><a href="dialogs.html">Dialogs</a></li>
                            <li><a href="dropdown.html">Dropdown</a></li>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="modals.html">Modals</a></li>
                            <li><a href="parallax.html">Parallax</a></li>
                            <li><a href="pushpin.html">Pushpin</a></li>
                            <li><a href="scrollfire.html">ScrollFire</a></li>
                            <li><a href="scrollspy.html">Scrollspy</a></li>
                            <li><a href="side-nav.html">SideNav</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="transitions.html">Transitions</a></li>
                            <li><a href="waves.html">Waves</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal">Showcase</a></li>
    </ul>
</header>
<main>
    <div class="container section">
        <div class="row">
            <div class="center col s12 buysellads">
                <br><br>
                <br><br>


            </div>
        </div>

        <br>


    </div>


</main>
--------


<div class="row" style="padding-top:10%">
    <div class="col s12 m4 offset-m4">
        <div class="card card-shadow-no">
            <div class="card-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <ul tabs ng-if="main.showTabs">
                                    <li class="tab col s3"><a href="#signUp">Sign Up</a></li>
                                    <li class="tab col s3"><a class="active" href="#signIn">Sign In</a></li>
                                </ul>
                            </div>
                            <div id="signUp" class="col s12 ">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Full name</label>

                                </div>
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Company email</label>

                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Password</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Verify Password</label>
                                </div>
                                <div class="input-field">
                                    <br/>
                                    <br/>
                                </div>
                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Sign
                                        Up</a>

                                </div>
                            </div>
                            <div id="signIn" class="col s12 active">
                                <div class="input-field">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Company email</label>

                                </div>
                                <div class="input-field">
                                    <i class="material-icons dp48 right">lock_outline</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Password</label>
                                </div>
                                <div class="input-field">
                                    <p class="center-align"><a href="#">Forgot your password</a></p>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="input-field center-align">
                                    <a class="waves-effect waves-light btn center-align"> <i
                                            class="material-icons right">keyboard_arrow_right</i>Sign
                                        In</a>

                                </div>
                            </div>


                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row" style="padding-top:10%">
    <div class="col s12 m4 offset-m4">
        <div class="card card-shadow-no">
            <div class="card-content">
                <div carousel data-indicators="true">
                    <div class="carousel-item white white-text" href="#one!">

                    </div>
                    <div class="carousel-item white white-text" href="#two!">
                        <div class="card-title center-align activator grey-text text-darken-4">Company Infornamtion
                        </div>
                        <div class="input-field">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Job Title</label>

                        </div>
                        <div class="input-field">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Department</label>
                        </div>
                        <div class="input-field">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Expense approver's name</label>
                        </div>
                        <div class="input-field">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Expense approver's email</label>
                        </div>
                        <div class="input-field center-align">
                            <a class="waves-effect waves-light btn center-align"> <i
                                    class="material-icons right">keyboard_arrow_right</i>Save</a>

                        </div>
                    </div>
                    <div class="carousel-item white white-text" href="#three!">
                        <div class="card-title center-align activator grey-text text-darken-4">Receiving Gift Cards
                        </div>
                        <div class="input-field">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Shipping address</label>

                        </div>
                        <div class="input-field">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Unit/Apt number(Optional)</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s7">
                                <input placeholder="Placeholder" id="first_name" type="text"
                                       class="validate">
                                <label for="first_name" class="active">City</label>
                            </div>
                            <div class="input-field col s5">
                                <select>
                                    <option value="" disabled selected>State</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label>State</label>
                            </div>
                        </div>
                        <div class="input-field">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Zip code</label>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn center-align"> <i
                                    class="material-icons right">keyboard_arrow_right</i>Go to
                                Account</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper"><a class="page-title">Showcase</a></div>
        </div>
    </nav>
    <div class="container"><a href="#" data-activates="nav-mobile"
                              class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <li class="logo center-align">
            <br/>
            <a id="logo-container" href="/" class="brand-logo center-align">
                <img src="assets/images/logo.png"/>
            </a></li>
        <li class="search">
            <div class="row">
                <div class="col s12 m12 center-on-small-only">
                    <div class="center-align">
                        <i class="material-icons large">account_circle</i>

                        <h5>Jonathan</h5>
                        <p>$1,240 earned</p>
                    </div>
                </div>
            </div>

        </li>
        <li class="search">
            <div class="search-wrapper card">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Build a Budget</label>
                </div>
            </div>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="color.html">Color</a></li>
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="helpers.html">Helpers</a></li>
                            <li><a href="media-css.html">Media</a></li>
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="shadow.html">Shadow</a></li>
                            <li><a href="table.html">Table</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Components</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="badges.html">Badges</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="chips.html">Chips</a></li>
                            <li><a href="collections.html">Collections</a></li>
                            <li><a href="footer.html">Footer</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="navbar.html">Navbar</a></li>
                            <li><a href="pagination.html">Pagination</a></li>
                            <li><a href="preloader.html">Preloader</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">JavaScript</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="carousel.html">Carousel</a></li>
                            <li><a href="collapsible.html">Collapsible</a></li>
                            <li><a href="dialogs.html">Dialogs</a></li>
                            <li><a href="dropdown.html">Dropdown</a></li>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="modals.html">Modals</a></li>
                            <li><a href="parallax.html">Parallax</a></li>
                            <li><a href="pushpin.html">Pushpin</a></li>
                            <li><a href="scrollfire.html">ScrollFire</a></li>
                            <li><a href="scrollspy.html">Scrollspy</a></li>
                            <li><a href="side-nav.html">SideNav</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="transitions.html">Transitions</a></li>
                            <li><a href="waves.html">Waves</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal">Showcase</a></li>
    </ul>
</header>

<main>
    <div class="container section">
        <div class="row">
            <div class="center col s12 buysellads">
                <br><br>
                <br><br>


            </div>
        </div>

        <br>


    </div>


</main>


